@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 700;
}

h2,h3 {
    text-align: center;
    font-weight: 400;
    top: 4px;
}

p {
    text-overflow: clip;
    font-weight: 400;
}

input {
    border: 1px solid #d1d1d1;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

select {
    border: 1px solid #d1d1d1;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

button {
    margin: 4px;
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(153, 180, 255);
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(141, 170, 252);
}

button:active {
    background-color: rgb(101, 142, 255);
}

button:focus {
    outline: none;
}

th {
    padding: 0px 20px;
    text-align: center;
}

td {
    padding: 10px 20px 0px 20px;
    text-align: center;
}

.inputSec {
    padding: 10px;
    margin: 20px 50px 20px 50px;
    background-color: rgb(203, 216, 252);
    border-radius: 10px;
    display: flex;
    justify-content: center;

}

.outputSec {
    /* visibility: hidden; */
    padding: 20px;
    margin: 20px 50px 20px 50px;
    background-color: rgb(214, 203, 252);
    border-radius: 10px;
    display: grid;
    justify-content: center;
}

.gradeTotal {
    /* visibility: hidden; */
    padding: 20px;
    margin: 20px 50px 20px 50px;
    background-color: rgb(252, 203, 228);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.gradeInfo {
    display: flex;
    justify-content: block;
}

.paragraph-styling {
    display: table;
    justify-content: space-between;
}


@media only screen and (max-width: 845px){
    .inputSec {
        display: grid;
    }
}